*{
font-family: Georgia;
}
header{
background-color: #824555;
color: white;
text-align: center;
padding:20px;
}
main{
background-color: #F0EAE2;
padding:50px;
clear:both;
}
footer{
    background-color: #824555;
    color:white;
    text-align: center;
    padding:20px;
    clear:both;

}
table, th, td{
    border: 2px solid black;
    border-collapse: collapse;
    padding:10px;
}
ul{
    list-style-type: square;
}
.p1{
 background-color: red;   
}
.p2{
    background-color: green;
}
.p3{
    background-color: blue;
}
nav,aside{
    background-color: #A26475;
color:white;
width:30%;
height:300px;
float:left;}
article{
background-color: #A26475;
color:white;
width: 40%;
height:300px;
text-align: right;
float:left;
}