*{font-family: Cambria, serif;}
body{margin: 0px; display: flex; flex-direction: column;}
header{background-color: #C2185B; color:white;text-align: center; padding: 15px;}
main{background-image: url(tulipany.jpg);height: 500px; display: flex;}
.blok{ background-color: #FCE4EC; width: 25%;height: 300px; margin:30px ; padding:16px}
.ukryty{opacity: 0;}
footer section{background-color: #C2185B; color: white;width: 25%;height: 240px;}
footer{display: flex;}
p{padding-top: 20px;}
a{color: white;}
input{
    width: 80%; height: 30px; margin: 10px;
}
button { float:right;background-color:  #c2185b; color: white; margin-top: 50px; margin-left: 60px; padding: 20px; border: none;}
video {height: 100%;width: 100%;}



