* {
    font-family: Arial;
    text-align: center;
}

body {
    background-color: lightcyan;
}

header, footer {
    background-color: steelblue;
    color: white;
    padding: 10px;
}

article {
    padding-top: 40px;
    margin: 1%;
}

@media (min-width: 800px) {
    main {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    article {
        width: 30%;
    }
}

@media (max-width: 799px) {
    main {
        display: block;
    }

    article {
        width: 98%;
    }
}

.pierwszy {
    background-color: dodgerblue;
}

.drugi {
    background-color: limegreen;
}

.trzeci {
    background-color: darkorchid;
}

img {
    width: 70%;
}

p {
    padding: 20px;
}

table {
    margin: 0% auto;
    width: 70%;
    border: 1px steelblue;
}

tr:hover {
    background-color: steelblue;
    color: white;
}