* {
   font-family: Cambria;
}
body {
    background-color: linen;

}

.boczny, header, footer {
    background-color: steelblue;
    color: white;
    text-align: center;
}

.boczny {
    width: 25%;
    height: 510px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 1%;
    margin-right: 1%;
    box-shadow: 4px 4px 5px DimGray;
    
}
header {
    width: 73%;
    height: 80px;
}
main {
    width: 73%;
    height: 400px;

}


button {
    background-color: SteelBlue;
    color: white;
    width: 20%;
    padding: 15px;
    margin-top: 30px;
    font-size: 130%;
    border: none;
}

button:hover {
    background-color: navy;
}

main > div {
    background-color: LightBlue;
    margin-right: 80px;
    padding: 10px;  
}

#postep {
    background-color: LightGrey;
    width: 73%;
    margin-bottom: 10px;
}

#postep div {
    background-color: Navy;
    width: 4%;
    height: 30px;
}

table {
    width: 100%;
    border: 1px dotted Navy;
}
#boczny {
    float: left;
}

footer {
    clear: both;
}
main,
header,
#postep {
    float: right;
}
