*{
    font-family: Cambria;
}
#baner{
    background-color: #C2185B;
    color: white;
    text-align: center;
    padding: 15px;
}
main{
    background: url(tulipany.jpg);
    height: 500px;
}
footer{
    background-color: #C2185B;
    color: white;
    width: 25%;
    height: 240px;
    float: left;
}
#blok1, #blok2, #blok3{
    background-color: #FCE4EC;
    width: 25%;
    height: 300px;
    margin: 25px;
    padding: 16px;
    float: left;
}
#blok2, #blok3{
    display: none;
}
p{
    padding-top: 20px;
}
a{
    color: white;
}
input{
    width: 80%;
    height: 30px;
    margin: 10px;
}
button{
    background-color: #c2185b;
    color: white;
    margin-top: 50px;
    margin-left: 60%;
    padding: 20px;
    border: none;
}
video{
    width: 100%;
    height: 100%;
}