body{
    margin:0
}
*{
    font-family: Garamond;
    background-color: mistyrose;
    color:rgb(62, 39, 35)
}
main{
    display:flex;
}
#PanelLewy {
    width: 20%;
    height: 600px;
    margin: 30px;
    box-shadow: 15px 15px 10px DimGray;
    overflow: auto;
}
img{
    width: 100%;
}

#PanelPrawy{
    width: 65%;
    height: 600px;
}

img[alt="miniatura"]{
    width: 140px;
    height: 2px;
    border-radius: 5%;
}

img[alt="miniatura"]:hover{
    border: 1px dotted black;
}

#zmiana{
    width: 500px;
    margin: 30px;
    box-shadow: 15px 15px 10px dimgray;
}
table{
    border: 1px dashed black;
    width: 100%;
}   