* {
    font-family: Georgia
}

header {
    background-color: #824555;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    display: flex;
}

.panel1, .panel2 {
    background-color: #A26475;
    color: white;
    width: 30%;
    height: 300px;
}

.panel3 {
    background-color: #A26475;
    color: white;
    width: 40%;
    height: 300px;
    text-align: right;
}

main {
    background-color: #F0EAE2;
    padding: 50px;
}

footer {
    background-color: #824555;
    color: white;
    text-align: center;
    padding: 20px;
}

table, th, td {
    border: 2px solid #69293A;
    padding: 7px;
    border-collapse: collapse;
}

ul {
    list-style-type: square;
}

#czerwony {
    background-color: red;
    height: 15px;
}

#zielony {
    background-color: green;
    height: 15px;
}

#niebieski {
    background-color: blue;
    height: 15px;
}