* {
    font-family: Tahoma;
}

header > section {
    background-color: #7DA453;
    color: white;
    height: 120px;
}

header {
    display: flex;
}

main {
    display: flex;
    flex-wrap: wrap;
}

.a, .b {
    width: 40%;
}

.c {
    width: 20%;
}

.kalendarz {
    background-color: #AED581;
    width: 200px;
    height: 100px;
    margin: 7px;
    border: 1px solid #7DA453;
}

.kalendarz:hover {
    background-color: #7DA453;
    color: white;
}

footer {
    background-color: #7DA453;
    color: white;
    padding: 5px;
}

h5 {
    text-align: center;
}

form {
    padding-top: 50px;
}
