html{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: aliceblue;
}

header{
    background-color: #A00037;
    color: white;
    text-align: center;
    font-size: 150%;
    padding: 3px;
}

main{
    width: 70%;
    float: left;
}

main > section{
    display: none;
}

button{
    background-color:  #D81B60;
    color: white;
    padding: 15px;
    margin: 20px;
    width: 100%;
}

footer{
    background-color: #D81B60;
    color: white;
    width: 20%;
    padding: 5px;
    margin: 10px;
    box-shadow: 15px 15px 12px dimgray;
    float: right;
}

h5, .cytatStopki{
    font-style: italic;
    text-align: center;
}

img{
    height: 100%;
    width: 100%;
}

table{
    margin: auto;
    width: 95%;
    border: solid 1px aliceblue;
}