*{
font-family: serif;
}

#baner1,
#baner2{
    background-color: darkcyan;
    color: white;
    width: 50%;
    height: 100px;
    letter-spacing: 15px;
    float: left;
}

main{
    clear: both;
}

#footer{
    background-color: darkcyan;
    color: white;
}

main div{
    float: left;
    background-color:azure;
    width: 30%;
    margin: 1%;
    box-shadow: 4px 4px 8px dimgray;
}
main div > img{
    width: 100%;
 }

p,h2,h3{
margin: 15px;
} 

#cytat{
    clear: both;
}

a{
    color: white;
}

h5{
    background-color: teal;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px; 
}

h5:hover{
    background-color: lightseagreen;
}

blockquote{
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 0px;
    padding-right: 0px;
    font-style: italic;
}

#osoba2, #osoba3{
    clear: both;
}