body {
    background-color: bisque;
}

header {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 30px;
    background-color:azure;
    width: 1900px;
    height: 150px;
}

nav {
    display: flex;
    gap: 100px;
    text-align: center;
    justify-content: center;
    font-size: 30px;
    background-color:beige;
    width: 1900px;
    height: 100px;
    


}

section {
    display: flex;
    font-size: 20px;
    flex-wrap: wrap;
    gap:50px;
}


.blok {
  flex: 1;
  min-width:200px;
  text-align: center;
  padding:20px;
  
}

footer {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 30px;
    background-color:azure;
    width: 2000px;
    height: 150px;
    margin-left: -10px;
    position:fixed;
    bottom:0;
}