body {
font-family: Georgia;
}

header {
background-color: #824555;
color: white;
text-align: center;
padding: 20px;
}

#gorny1, #gorny2 {
background-color: #A26475;
color: white;
width: 30%;
height: 300px;
float: left;
}

#gorny3 {
background-color: #A26475;
color: white;
width: 40%;
height: 300px;
text-align: right;
float: left;
}

main {
background-color: #F0EAE2;
padding: 50px;
clear: both;
}

footer {
background-color: #824555;
color: white;
text-align: center;
padding: 20px;
}

table,td,th {
border: 2px solid #69293A;
padding: 7px;
border-collapse: collapse;
}

ul {
list-style: square;
}

main button#czerwony {
background-color: red;
}

main button#zielony {
background-color: green;
}

main button#niebieski {
 background-color: blue;
}