* {
    font-family: Century, serif;
    text-align: center;
}

header, footer {
    background-color: Indigo;
    color: white;
    font-style: italic;
    padding: 2px;
}

main {
    background-color: white;
}

section {
    width: 50%;
    height: 470px;
    float: left;
    background-color: white;
    overflow: hidden;
}

img {
    padding: 3px;
    margin: 10px;
    border: 2px slateblue dashed;

    filter: blur(4px, 8px);
}

a {
    color: white;
}

button {
    background-color: slateblue;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
}

button:hover {
    background-color: indigo;
}

input[type=range]{
    width: 80%;
}

