*{
    font-family: garamond;
    text-align: center;
}

body {
    background-color: lavender;
}

header, footer{
    background-color: #AF8EB5;
    color: white;
    padding: 10px;
}

.bloki {
    background-color: #E1BEE7;
    width: 30%;
    height: 500px;
    padding-top: 40px;
    margin: 15px;
    box-shadow: 10px 10px 10px dimgray;
    float:left
}

a{
    color:indigo;
    font-size: 150%;
    padding: 10px;
    font-style:oblique;
}
a:hover{
    background-color: indigo;
    color: white;
}
img, table{
    border: 1px, solid;
    width: 80%;
    margin: 40px auto;
    border-collapse: collapse;
}