* {
    font-family: Verdana;
}

menu {
    display: grid;
    height: 610px;
}

img{
    width: 100%;
    height: 610px;
}
header, footer, nav{
    background-color: mediumpurple;
    color: white;
    height: 50px;
    text-align:center;
    text-shadow: 4px, 4px, dimgray;
}
.grid{
    display: grid;
    grid-template-columns: 20% 80%;
}
nav {
    padding-top: 10px;
}
main{
    background-color: thistle;
    height: 450px;
    overflow: auto;
}
li>button{
    float: right;
    background-color: mediumpurple;
    color: white;
    height: 30px;
    border: none;
}
ul{
    margin: 40px auto;
    width: 70%;
    font-size: 25px;
    border: solid 2px mediumpurple;
    list-style: none;
}
li.even{
    background-color: #DDCADD;
}
li:hover{
    background-color: lavender;
}
.wykonane{
    text-decoration: line-through;
}
#prawy{
    grid-template-rows: 50px 60px 450px 50px;
}
#prawy:first-child{
    display: grid;
}