*{
   font-family: 'Verdana';
}
section{
    width: 20%;
    height: 610px;
    float: left;
}
img{
    width: 100%;
    height: 610px;
    float: left;
    
}
header,
footer,
nav {
    background-color: mediumpurple;
    color: white;
    width: 80%;
    height: 50px;
    text-align: center;
    text-shadow: 4px 4px dimgray;
    
}
nav{
    padding-top: 10px;
    
}
main{
    background-color: thistle;
    width: 80%;
    height: 450px;
    overflow: auto;
   
    



  
}
button{
    background-color: mediumpurple;
    color: white;
    height: 30px;
    
 }
li{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    font-size: 25px;
    list-style: none;
   border: 2px solid MediumPurple ;
}
li{
    margin: 10px;
}
li:hover{
    background-color: Lavender;
}