* {
    font-family: 'Bookman Old Style', Serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}


header {
    display: flex;
}


header section {
    background-color: DarkCyan;
    color: white;
    width: 50%;
    height: 100px;
    letter-spacing: 15px;
}


#karty {
    display: flex;
}


footer {
    background-color: darkcyan;
    color: white;
}

.karta {
    background-color: Azure;
    box-shadow: 4px 4px 8px DimGray;
    width: 30%;
    margin: 1%;

}


.karta img {
    width: 100%;
}

p, h2, h3 {
    margin: 15px;
}


a {
    color: white;
}

h5 {
    background-color: Teal;
    text-align: center;
    width: 100%;
    padding: 10px 0;

}


h5:hover {
    background-color: LightSeaGreen;
}


blockquote {
    text-align: center;
    font-style: italic;
    padding: 30px 0;
}


#cytat2, #cytat3 {
    display: none;
}