* {
    font-family: "Century Gothic", Arial, sans-serif;
}

body {
    background-color: BlanchedAlmond;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: Sienna;
    color: white;
    padding: 5px;
    text-align: center;
    font-size: 130%;
    clear:both
}

#lewa {
    background-color: NavajoWhite;
    margin: 10px;
    padding: 20px;
    width: 35%;
    height: 400px;
    box-shadow: 5px 5px 10px DimGray;
    float: left;
}

nav {
    width: 50%;
    height: 50px;
    float: left;
}

#prawa {
    width: 50%;
    height: 420px;
    overflow: auto;
    float: right;
}

input, button {
    margin-top: 20px;
}

li {
    display: inline-block;
}

img {
    width: 10%;
    float: left;
}


a {
    color: Sienna;
    margin-right: 30px;
    text-decoration: none;
}


a:hover {
    color: #4C1900;
}